<%= link_to "Home", controller: "secrets", action: "show" %>
<h1><%= @user.name %></h1>
<%= link_to "Edit Profile", controller: "users", action: "edit", id: @user %>
<h3>Secrets</h3>

<% if flash[:errors] %>
	<% flash[:errors].each do |error| %>
		<p><%= error %></p>
	<% end %>
<% end %>

<h5>New Secret</h5>
<form method='post' action="/secrets/create">
	<input type='hidden' value='<%= form_authenticity_token %>' name='authenticity_token'>
	<input type='hidden' name='_method' value='post'>
	<input type='text' name='secret[content]'>
	<input type='submit' value='Create Secret'>
</form>

<% @secrets.each do |secret| %>
	<p><%= secret.content %></p>
	<p><%= secret.likes.count %> likes</p>
	<form method='post' action='/secrets/<%= secret.id %>'>
		<input type='hidden' value='<%= form_authenticity_token %>' name='authenticity_token'>
		<input type='hidden' name='_method' value='delete'>
		<input type='submit' value='Delete'>
	</form>
<% end %>