<h1>Secrets</h1>
<% @secrets.each do |secret| %>
	<p><%= secret.content %></p>
	<p><%= secret.likes.count %> likes</p>
	<% if secret.users_liked.include?(current_user) %>
		<form action='/likes' method='post'>
		    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
		    <input type='hidden' name='secret_id' value='<%= secret.id %>'>
		    <input type='hidden' name='_method' value='delete'>
		    <input type='submit' value='Unlike'>
		</form>
	<% else %>
		<form action='/likes' method='post'>
		    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
		    <input type='hidden' name='secret_id' value='<%= secret.id %>'>
		    <input type='hidden' name='_method' value='post'>
		    <input type='submit' value='Like'>
		</form>
	<% end %>

	<% if secret.user == current_user %>
		<form method='post' action='/secrets/<%= secret.id %>'>
			<input type='hidden' value='<%= form_authenticity_token %>' name='authenticity_token'>
			<input type='hidden' name='_method' value='delete'>
			<input type='submit' value='Delete'>
		</form>
	<% end %>
<% end %>